<div class='user-details'>
  <h1 class='title'>User Details</h1>

  <p><strong>Username:</strong> {{user.username}}</p>
  <p><strong>First Name:</strong> {{user.firstName}}</p>
  <p><strong>Last Name:</strong> {{user.lastName}}</p>
  <p><strong>Gender:</strong> {{user.gender}}</p>
  <p><strong>Birthdate:</strong> {{user.birthdate}}</p>

</div>
<p><a href='/users'>â† Back to list</a></p>