<h1>Edit User</h1>

<form class="form" action="/users/{{user.id}}/edit" method="POST" novalidate>
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    <label class="form__field" for="username-input">Username:</label>
    <input id="username-input" class="form__input" type="text" name="username" value="{{user.username}}" required>
  
    <label class="form__field" for="firstName-input">First Name:</label>
    <input id="firstName-input" class="form__input" type="text" name="first_name" value="{{user.firstName}}">
  
    <label class="form__field" for="lastName-input">Last Name:</label>
    <input id="lastName-input" class="form__input" type="text" name="last_name" value="{{user.last_name}}">
  
    <label class="form__field" for="gender-input">Gender:</label>
    <select id="gender-input" class="form__select" name="gender" required>
      <option class="form__option" value="male" {{#if (eq user.gender "male")}}selected{{/if}}>Male</option>
      <option class="form__option" value="female" {{#if (eq user.gender "female")}}selected{{/if}}>Female</option>
    </select>
  
    <label class="form__field" for="birthdate-input">Birthdate:</label>
    <input id="birthdate-input" class="form__input" type="date" name="birthdate" value="{{user.birthdate}}">
  
  <button type="submit">Update</button>
</form>

<p><a href="/users">← Back to list</a></p>
